<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>__LABEL__</string>

  <key>ProgramArguments</key>
  <array>
    <string>__ROOT__/scripts/harness/run_coordinator_local.sh</string>
    <string>--hosts-env</string>
    <string>__HOSTS_ENV__</string>
    <string>--until</string>
    <string>__UNTIL__</string>
  </array>

  <key>WorkingDirectory</key>
  <string>__ROOT__</string>

  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>

  <key>RunAtLoad</key>
  <true/>

  <key>StartInterval</key>
  <integer>1200</integer>

  <key>StandardOutPath</key>
  <string>__STDOUT_PATH__</string>

  <key>StandardErrorPath</key>
  <string>__STDERR_PATH__</string>
</dict>
</plist>
